<div class="container">
  <h1 class="text-center mt-5">Reset Password</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- by adding the model and the params token it allows for us to find the user and actually update the password -->
      <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
        <!-- form.objects requires a model to be present -->
        <%= render 'shared/form_errors', form: form %>

        <div class="mb-3">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control", placeholder: "password" %>
        </div>
        <div class="mb-3">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
        </div>
        <div class="mb-3">
          <%= form.submit "Reset Password", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
