<div class="col-md-6 col-lg-4 mt-3">
  <div class="card bg-light" style="width: 18rem;">
    <div class="card-body my-3">
      <h5 class="card-title bg-white"><%= tweet.body %></h5>
      <% if tweet.published? %>
        <%= link_to "View Tweet", "https://twitter.com/#{tweet.twitter_account.username}/status/#{tweet.tweet_id}", target: :blank, class:"text-muted"  %>
      <% else %>
      <!-- format for the time from rails helper l before the datetime then format short/long -->
        <div class="d-inline-flex justify-content-between w-100 my-2 py-2">
          <p class="card-text"><i class="far fa-paper-plane"></i> at: <%= l tweet.publish_at, format: :long %></p>
          <%= link_to edit_tweet_path(tweet) do %>
            <i class="far fa-edit"></i>
          <% end %>
        </div>
      <% end %>
      <div class="d-inline-flex justify-content-around align-items-center my-2 py-2 w-100" style="border-top: 1px solid lightgray;">
        <%= image_tag tweet.twitter_account.image, class: "rounded-circle mx-3" %>
        <%= link_to "@#{tweet.twitter_account.username}", "https://twitter.com/#{tweet.twitter_account.username}", target: "blank" %>
      </div>
    </div>
  </div>
</div>



