<div class="container">
  <h1 class="text-center mt-5">Edit Password</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with model: Current.user, url: edit_password_path do |form| %>
        <%= render 'shared/form_errors', form: form %>

        <div class="mb-3">
          <%= form.label :password %>
          <%= form.password_field :password, class: "form-control", placeholder: "password" %>
        </div>
        <div class="mb-3">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
        </div>
        <div class="mb-3">
          <%= form.submit "New Password", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
